<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">

      <main class="screen1">
        <fieldset class="screen2">

          <h3><img src="player1.gif" style="width: 85px;height: 105px;"><%= "#{@game.player1.name} vs. #{@game.player2.name}" %><img src="player2.1.gif" style="width: 70px;height: 79px;"></h3>
          <br>
          <% @game.attack %>
          <%= "#{@game.player1.name} #{@game.player1.hp}/60hp" %>
          <br>
          <br>
          <br>
          <%= "#{@game.player2.name} #{@game.player2.hp}/60hp" %>
          <br>
          <br>
          <%= "#{@game.attacker.name} attacked #{@game.receiver.name}" %>
          <br>
          <br>
          <% unless @game.lost? %>
          <form action="/attack" method="post">
            <label for="attacker_attack_1">
              Attack:
              <input type="submit" value="Random Attack">
            </label>
          </form>
          <% @game.switch_player %>
          <% else %>
          <h2 style="color: #b50000;"><%= "#{@game.receiver.name} has lost the game." %></h2>
          <% end %>
        </fieldset>
      </main>

    </div>
  </body>
</html>
